{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <!-- Tailwind CSS -->
        {% tailwind_css %}      

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/114f0c3f98.js" crossorigin="anonymous"></script>
  
    </head>

    <body>
        <!-- page div -->
        <div class="flex flex-col md:flex-row">
            <!-- navbar -->
            <nav class="flex sticky top-0 md:flex-col justify-stretch items-center bg-gray-800 text-white text-center
                md:h-screen w-full md:w-36 lg:w-40 flex-none z-10">
                <div class="hidden h-2/6 md:block">
                    <div class="flex flex-col justify-center h-full">
                        <p class="font-bold pb-1">Kristian Møller</p>
                        <p class="font-bold pb-1 text-yellow-500">Schmidt</p>
                        <p class="text-sm text-gray-400">Available for work</p>
                    </div>
                </div>
                <!-- nav links-->
                <div class="flex justify-evenly w-full md:flex-col pt-5 lg:pt-0">
                    <p class="pb-5 hover:text-yellow-500 focus:text-white cursor-pointer" onclick="nav_to('home')">
                        Home
                    </p>
                    <p class="pb-5 hover:text-yellow-500 focus:text-white cursor-pointer" onclick="nav_to('about')">
                        About
                    </p>
                    <p class="pb-5 hover:text-yellow-500 focus:text-white cursor-pointer" onclick="nav_to('skills')">
                        Skills
                    </p>
                    <p class="pb-5 hover:text-yellow-500 focus:text-white cursor-pointer" onclick="nav_to('projects')">
                        Projects
                    </p>
                    <p class="pb-5 hover:text-yellow-500 focus:text-white cursor-pointer" onclick="nav_to('contact')">
                        Contact
                    </p>
                </div>
            </nav><!-- end of nav bar -->
            
            <!-- page content -->
            <main class="flex-grow">
                {% block content %} {% endblock %}
            </main>

        </div> <!-- end of page div -->
        
        <script>
            function nav_to(nav_id){
                var main_elements = document.getElementsByClassName('main-content');
                var project_details_elements = document.getElementsByClassName('project_details')

                for (var i = 0; i < project_details_elements.length; i++) { 
                    project_details_elements[i].classList.add('hidden')
                }

                for (var i = 0; i < main_elements.length; i++) { 
                    main_elements[i].classList.remove('hidden')
                }
                document.getElementById('about-content').classList.add('lg:flex')
                document.getElementById(nav_id).scrollIntoView();
            }
    
            function show_project_details(project_id){
                var main_elements = document.getElementsByClassName('main-content');
                document.getElementById('about-content').classList.remove('lg:flex')
                for (var i = 0; i < main_elements.length; i++) { 
                    main_elements[i].classList.add('hidden')
                }       
                e = document.getElementById("details_" + project_id)
                e.classList.remove('hidden')
                e.classList.add('flex')
                //location.href = "#project_details"
                e.scrollIntoView();
            }

            function over(project_id) {
                if (matchMedia('(pointer:fine)').matches) {
                    // Device has a mouse
                    document.getElementById(project_id).classList.remove("hidden");
                    document.getElementById(project_id).classList.add("flex");
                } else {
                    // Devise has no mouse & users has finger-clicked the project div
                    show_project_details(project_id);
                }
            }
            function out(element) {
                element.classList.add("hidden");
                element.classList.remove("flex");
            }
       </script>

    </body>

</html>

